{{#if model.matured}}
<h4>{{t 'block.matured'}}</h4>
<div class="table-responsive">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>{{t 'block.col1'}}</th>
        <th>{{t 'block.col2'}}</th>
        <th>{{t 'block.col3'}}</th>
        <th>{{t 'block.col4'}}</th>
        <th>{{t 'block.col5'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.matured as |block|}}
        {{partial "blocks/block"}}
      {{/each}}
    </tbody>
  </table>
</div>
{{else}}
  <h3>{{t 'block.noMature'}}</h3>
{{/if}}
