{{#if config.minimalUI }}
<div style="text-align: center; padding: 40px;">
  <img src="/{{config.coin}}.png" alt="" style="width: 100px;height:100px" >
</div>
{{else}}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2" style="text-align: center;">
        <img src="/{{config.coin}}.png" alt="" style="width: 100px;height:100px" >
      </div>
      <div class="col-md-3 stats">
        <div>{{t 'index.minersTotal'}}: <span id="poolHashrate">{{format-number stats.model.minersTotal}}</span></div>
        <div>{{t 'index.poolHashrate'}}: <span id="poolHashrate">{{format-hashrate stats.model.hashrate}}</span></div>
        {{#if stats.model.stats.lastBlockFound}}
          <div>{{t 'index.lastBlockFound'}}: <span>{{format-relative (seconds-to-ms stats.model.stats.lastBlockFound)}}</span></div>
        {{/if}}
      </div>
      <div class="col-md-4 stats">
        <div>{{t 'index.difficulty'}}: <span>{{with-metric-prefix stats.difficulty}}</span></div>
        <div>{{t 'index.hashrate'}}: <span>{{format-hashrate stats.hashrate}}</span></div>
        <div>{{t 'index.height'}}: <span>{{format-number stats.height}}</span></div>
        <div>{{t 'index.roundVariance'}}: <span>{{format-number stats.roundVariance style='percent'}}</span></div>
      </div>
    </div>
  </div>
</div>
{{/if}}
<div class="container">
  <div class="stats" style="margin: 40px auto;">
    <h4 style="text-align: center">{{t 'index.lookupTitle'}}</h4>
    <div class="input-group input-group-lg" style="max-width: 600px;margin: 10px auto;">
      {{input value=cachedLogin class="form-control" placeholder=(t 'index.lookupPlaceholder')}}
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" {{action 'lookup' cachedLogin}}>
          <span style="display: inline;"><i class="fa fa-search"></i> {{t 'index.lookup'}}</span>
        </button>
      </span>
    </div>
  </div>
</div>
{{#if config.partnerAddress }}
<div class="container" style="text-align: center">
  <h2>
    挖矿地址：
    <span style="color: red;">
      {{config.partnerAddress}}
    </span>
  </h2>
  <h5>
    当前 PPS 预计收益： {{dailyRewardPartner}} {{config.coin}}/天/1MHs <br />
  </h5>
</div>
{{/if}}
{{#unless config.minimalUI }}
<div class="container">
  <div class="col-md-9">
    {{format-html-message 'index.help' StratumPort=config.StratumPort}}
    <table class="table table-bordered table-condensed">
      <tbody>
      <tr>
        <th class="warning" colspan="2">PPS 收益公式： 算力 ÷ 当前难度 × 平均块奖励 × (1 - 1%) × 时间s</th>
      </tr>
      <tr>
        <td>
          当前 PPS 预计收益：
        </td>
        <td>
          {{dailyReward}} {{config.coin}}/天/1MHs <br />
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <h2 style="font-size: 24px">
      <strong>{{t 'index.featureTitle'}}</strong>
    </h2>
    <div>
      <div>{{t 'index.feature01'}}</div>
      <div>{{t 'index.feature02'}}</div>
      <div>{{t 'index.feature03'}}</div>
      <div>{{t 'index.feature04'}}</div>
      <div>{{t 'index.feature05'}}</div>
      <div>{{t 'index.feature06'}}</div>
      <div>{{t 'index.feature07'}}</div>
      <div>{{t 'index.feature08'}}</div>
      <div>{{t 'index.feature09'}}</div>
      <div>{{t 'index.feature10'}}</div>
      <div>{{t 'index.feature11'}}</div>
      <div>{{t 'index.feature12'}}</div>
      <div>{{t 'index.feature13'}}</div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div style="float: right;margin-top: 20px;">
      <a href="#" {{action 'changeLocale' 'en-US'}}>English</a> | <a href="#" {{action 'changeLocale' 'zh-CN'}}>中文</a>
    </div>
    <p class="text-muted">&copy; NewBlock · 2017</p>
  </div>
</footer>
{{/unless}}